$primary-text-color:#757575 ;
$secondary-text-color: #212121;
$next-text-color: #ffffff;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$next-background-color: #f5f4fa;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$border-color: #eeeeee;
$border-color-header: #ececec;
$logo-color: #000000;
$icon-color: #afb1b8;
$adress-color: rgba(255, 255, 255, 0.6);
$card-set-gap: 30px;