.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-detail {
    color: $logo-color;
}
.adress__logo-detail {
    color: $next-text-color;
}

.footer-logo {
    @extend .logo;
    display: inline-block;
    margin-bottom: 20px;
}